############################################
# OS / macOS / Windows
############################################
.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db

############################################
# Editors / IDEs
############################################
.vscode/
.idea/

############################################
# Python Cache & Build
############################################
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
build/
dist/

############################################
# Logs
############################################
*.log

############################################
# Virtual Environments
############################################
venv/
env/
.venv/
*.venv
*.env
fyp_env*/
fyp_env312/
pythonvenvs/

############################################
# Jupyter
############################################
.ipynb_checkpoints/

############################################
# Databases
############################################
*.sqlite3
db.sqlite3

############################################
# DATA (CRITICAL – DO NOT TRACK)
############################################
Data/
Prototype1/data/
Prototype2/data/
*.tsv

############################################
# Audio (ABSOLUTE NO-GO IN GIT)
############################################
*.wav
*.mp3
*.m4a
*.flac
*.ogg

############################################
# Machine Learning Outputs
############################################
features/
*.pkl
*.joblib
*.pt
*.h5

# Specific model paths
FinalPrototype/accentmap/api/rf_model.pkl

############################################
# Django / Media
############################################
media/
audio_storage/
staticfiles/

############################################
# Temporary / Outputs / Figures
############################################
outputs/
results/
plots/
figures/

############################################
# Secrets / Environment Files
############################################
.env
.env.*
*.pptx
*.npz
Prototype2/CommonVoice/cv-corpus-24.0-2025-12-05-en.tar.gz.aria2
Prototype2/CommonVoice/cv-corpus-24.0-2025-12-05-en.tar.gz
/ProjectFair/Logo/DownloadedImages
/ProjectFair/Logo/CreatedImages
